extends layout

block content
  .row
    .card.col-10.ml-4.mb-2.mx-auto
          h3.card-header #{film.Title}
          table.table
            tr
              td
                if film.Poster === "N/A"
                  img(style='width: 100%; display: block;' src="/images/netflop-no-picture.png" alt='image')
                else  
                  img(style='width: 100%; display: block;' src=film.Poster alt='image')
              td
                p.card-text #{film.Type} de #{film.Year}
                p.card-text #{film.Genre}
                p.card-text #{film.Runtime}
                p.card-text #{film.Plot}
                div.mb-1
                  a.btn.btn-danger(href="#") J'ai vu ce film!
                div
                  a.btn.btn-danger(href="#") Donne une note
                a.card-link(href=film.Website) #{film.Website}