extends layout

block content
  .main.container
    h1 Votre profil #{name}
      
  
    
      h5.text-danger Vos statistique
      table.table
        tr
          th(scope='row') Vous avez vu :
          td ## films et série !
          td
            a.btn(href='#', role='button') voir la liste   
        tr
          th(scope='row') Vous avez aimé :
          td ## films et série ! 
          td
            a.btn(href='#', role='button') voir la liste
        tr
          th(scope='row') Vous détestez :
          td ## films et série !
          td
            a.btn(href='#', role='button') voir la liste 

      h5.text-danger Parametre de compte
      form(action="/edit", method="get")
        .class
          p ID : #{id}
        .class 
          p Login :
          input(type="text" name="login" value=login)
        .class 
          p Password :
          input(type="text" name="password" value=password)
        .class 
          p nom :
          input(type="text" name="name" value=name)
        .class 
          p prenom :
          input(type="text" name="firstname" value=firstname)
        .class 
          p Email :
          input(type="email" name="email" value=email)             
        .class 
          p zipcode :
          input(type="number" name="zipcode" value=zipcode)
        button.btn.btn-secondary(type='submit', name='id', value=id) Edit
      p= message
